@media (max-width:760px){
    header{
        background-size: 250%;
    }
    
    .main_header{
        display: flex;
        flex-direction: column;
    }

    .about_me{
        flex-wrap: wrap;
    }
    
    .hard_skills_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .soft_skills_block{
        display: flex;
        flex-direction: column;
    }

    .my_projects_list{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }

    .my_projects_list div{
        width: 300px;
    }
#menu-toggle {
    display: none;
}
.burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
}

.burger span {
    height: 4px;
    background: white;
    margin: 5px 0;
    transition: 0.3s;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #333;
    width: 200px;
    display: none;
    flex-direction: column;
}

.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background: #444;
}
#menu-toggle:checked ~ .menu {
    display: flex;
}
}