* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: black;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 100%;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
.nav__item {
  margin-right: 20px;
}
.nav__list {
  border-bottom: 2px solid #4083c0;
  max-width: 585px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}
#menu-toggle{
  display: none;
}
.hero__title {
  width: 479px;
  height: 180px;
  color: #4083c0;
}
.header {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  padding: 30px;
}
.hero{
    padding-top: 78px;
    display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.about__title{
font-weight: 800;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #4083C0;


margin-bottom: 20px;
}
.about__text{
max-width: 609px;


font-size: 28px;
line-height: 34px;

color: #000000;


}
.block{
background-color: coral;
width: 505px;
height: 345px;

}
.about{
    display: flex;
     justify-content: space-evenly;
     padding-top: 60px;
}
.title{
  width: 266px;
  font-size: 39px;
   color: #4083c0;
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0 auto;
}
.nav__list {
  border-bottom: 2px solid #4083c0;
  max-width: 585px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}

.main__section{
  padding-top: 60px;
} 